
*.summary
*.cdb
*.kpt
*.hdb
*.dpi
*.rcfdb
*.sig
*.rpt
*.rpt
*.bak
*.rpt
*.jdi
*.sld
*.pin
*.ddb
*.dfp
*.ammdb
*.hb_info
*.tdf
*.qmsg
*.rdb
*.hsd
*.logdb
*.mif
*.db_info
*.done
*.bpm
*.hier_info
*.hif
*.smsg
*.sof
*.tdb
*.sci
*.flock
*.html
*.idb
*.json
*.tmw_info
procesador_vectorial/greybox_tmp/greybox_tmp/mglt9.v
procesador_vectorial/greybox_tmp/greybox_tmp/mgdt9.v
procesador_vectorial/greybox_tmp/greybox_tmp/mg8t9.v
procesador_vectorial/incremental_db/README
*.rpt
procesador_vectorial/greybox_tmp/greybox_tmp/mg7t9.v
*.rpt
procesador_vectorial/greybox_tmp/cbx_args.txt
procesador_vectorial/db/ProVec.smart_action.txt
procesador_vectorial/db/ProVec.lpc.txt
procesador_vectorial/c5_pin_model_dump.txt
procesador_vectorial/output_files/ProVec.map.rpt
